<div id="masthead">

	<div class="content_pad">

		<h1 class="">Items</h1>

		<div id="bread_crumbs">
			<a href="/">Home</a> / 
			<a href="javascript:;" class="current_page">Items</a>				
		</div> <!-- #bread_crumbs -->

		<div id="search">
			<form action="/search" method="get">
				<input type="text" value="" placeholder="Search" name="search" id="search_input" title="Search" />					
				<input type="submit" value="" name="submit" class="submit" />					
			</form>
		</div> <!-- #search -->

	</div> <!-- .content_pad -->

</div> <!-- #masthead -->	

<div id="content" class="xgrid">

	<div class="x12">


		<h2>All Items</h2>	

		<a href="<%= new_item_path %>">New item</a>

		<table class="data display">
			<thead>
				<tr>
					<th>Name</th>
					<th>Category</th>
					<th>Groups</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<% @items.each do |item| %>
				<tr class="<%= cycle('even', 'odd') %>">
					<td><%= link_to item.name, item_path(item.code) %></td>
					<td>Cname</td>
					<td><%= item.groups.collect{|a| a.name}.join(",")%></td>
					<td class="center">
						<%= link_to 'Edit', edit_item_path(item.code) %>
						| 
						<%= link_to 'Delete', delete_item_path(item.code) %>
					</td>
					</tr>
					<% end %>
					<% if @items.empty? %>
					<tr>
						<td class="center">
							No items saved yet
						</td>
						<td></td>
						<td></td>
						<td></td>
					</tr>	
					<% end %>
				</tbody>
			</table>

			<br /><br /><br />

		</div> <!-- .x12 -->

	</div> <!-- #content -->
